In [1]:
%run imp_and_func.ipynb

Los datos seran tomados del siguiente csv

In [2]:
bank_df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vSz3Yx52trZcGRODnR1-aMr8bTTKZDGsZbJj1kw5ms_H5ZOypBXNd2Hyx1bn1A8sznMTQOtCUniEnvJ/pub?output=csv")

In [3]:
bank_df.head(5)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

## Glosario

**CLIENTNUM** Client number. Unique identifier for the customer holding the account

**Attrition_FlagInternal** event (customer activity) variable - if the account is closed then 1 else 0

**Customer_Age Demographic** variable - Customer's Age in Years

**Gender Demographic** variable - M=Male, F=Female

**Dependent_count** Demographic variable - Number of dependents

**Education_Level** Demographic variable - Educational Qualification of the account holder (example: high school, college graduate, etc.)

**Marital_Status** Demographic variable - Married, Single, Divorced, Unknown

**Income_Category** Demographic variable - Annual Income Category of the account holder (<40K,40K-60K,60K-80K,80K-120K,>120K, Unknown)

**Card_Category** Product Variable - Type of Card (Blue, Silver, Gold, Platinum)

**Months_on_book** Period of relationship with bank

**Total_Relationship_Count** Total no. of products held by the customer

**Months_Inactive_12_mon** No. of months inactive in the last 12 months

**Contacts_Count_12_mon** No. of Contacts in the last 12 months

**Credit_Limit Credit** Limit on the Credit Card

**Total_Revolving_Bal** Total Revolving Balance on the Credit Card

**Avg_Open_To_Buy** Open to Buy Credit Line (Average of last 12 months)

**Total_Amt_Chng_Q4_Q1** Change in Transaction Amount (Q4 over- Q1)

**Total_Trans_Amt** Total Transaction Amount (Last 12 months)

**Total_Trans_Ct** Total Transaction Count (Last 12 months)

**Total_Ct_Chng_Q4_Q1** Change in Transaction Count (Q4 over Q1)

**Avg_Utilization_Ratio** Average Card Utilization Ratio

### Eliminamos columnas que no sirven para el analisis

In [4]:
bank_df = bank_df.drop(columns=["CLIENTNUM","Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1","Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2"])

In [5]:
bank_df.head()

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

## Hipótesis y preguntas

### Hipótesis 1
H1 = La media del monto total de transacciones (Total_Trans_Amt) es igual para clientes activos y retirados

H0 = La media del monto total de transacciones (Total_Trans_Amt) es diferente para clientes activos y retirados

### Hipótesis 2


H2 = La media de la cantidad total de transacciones (Total_Trans_Ct) es **igual** para clientes activos y retirados

H0 = La media de la cantidad total de transacciones (Total_Trans_Ct) es **diferente** para clientes activos y retirados

## Hipótesis 3

H3 = La media de la variacion en cantidad de transacciones Q4 -Q1 (1) es **igual** para clientes activos y retirados 

H0 = La media de la variacion en cantidad de transacciones Q4 -Q1 (Total_Ct_Chng_Q4_Q1) es **diferente** para clientes activos y retirados

## Pregunta 1
 ¿Cúal es el género que más abandona la tarjeta de crédito?

## Pregunta 2
 Los que abandonan la tarjeta de crédito, ¿Cúal es su estado civil?

## Pregunta 3
 ¿Que edades promedio tienen las personas que abandonan las tarjetas de crédito?

## Pregunta 4
¿Cuanto tiempo en promedio llevan las tarjetas sin utilizar de las personas que abandonan la tarjeta de crédito?

## Pregunta 5 
¿Que tipo de tarjeta usan los clientes que abandonan los servicios?

## Pregunta 6 
¿Que nivel de educacion tienen los clientes que abanonan los servicios?

## Pregunta 7
¿Que nivel de ingresos tienen los clientes que abandonan los servicios?